<div class="container" *ngIf="showTable">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="text-success mb-0">Tender List</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeTable()"></button>
    </div>

    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tender Name</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tenderlist of tenderList">
            <td>{{ tenderlist.id }}</td>
            <td>
              <a [href]="'http://localhost:8080/api/tender/file/' + tenderlist.id" target="_blank">
                {{ tenderlist.fileName }}
              </a>
            </td>
            <td>
              <a [href]="'http://localhost:8080/api/tender/file/' + tenderlist.id + '?download=true'" target="_blank">
                <button  class="btn btn-success">PDF</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
