<table class="table table-bordered table-striped">
  <thead class="table">

    <!-- Row for button spanning all columns -->
    <!-- Header row -->
    <tr>
      <th>Buyer ID</th>
      <th>Buyer Name</th>
      <th>Contact Person</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{item.buyerId }}</td>
      <td>{{item.buyerName }}</td>
      <td>{{item.contactPerson }}</td>
      <td>{{item.email }}</td>
      <td>{{item.phone }}</td>
      <td>{{item.address }}</td>
    </tr>
  </tbody>
</table>

