<ul *ngIf="isAtRoot()" class="nav-buttons">
  <li><button routerLink="buyertable">Buyer Table</button></li>
  <li><button routerLink="ordertable">Order Table</button></li>
  <li><button routerLink="designtable">Design Table</button></li>
  <li><button routerLink="fabrictable">Fabric Table</button></li>
  <li><button routerLink="cuttingtable">Cutting Table</button></li>
  <li><button routerLink="sewingtable">Sewing Table</button></li>
  <li><button routerLink="finishingtable">Finishing Table</button></li>
  <li><button routerLink="qctable">Quality Control</button></li>
  <li><button routerLink="waretable">Warehouse Table</button></li>
  <li><button routerLink="shippingtable">Shipping Table</button></li>
</ul>
<router-outlet></router-outlet>