<div class="container" *ngIf="show">
    <div class="card mt-4">
        <div class="card-header justify-content-between align-items-center">
            <h1 class="text-success text-end">Design Update</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeTable()"></button>
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th>design_id</th>
                        <th>order_id</th>
                        <th>design_name</th>
                        <th>design_image_url</th>
                        <th>status</th>
                        <th>remarks</th>
                    </tr>
                </thead>
                <tbody *ngIf="design && design.order">
                    <tr>
                        <td>{{design.design_id}}</td>
                        <td>{{design.order.order_id}}</td>
                        <td>{{design.design_name}}</td>
                        <td>{{design.design_image_url}}</td>
                        <td>{{design.status}}</td>
                        <td>{{design.remarks}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>